html {
  height: 100%;
  line-height: 1;
  font-family: PingFangSC-Light, helvetica, 'Heiti SC';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
  body{
    height: 100%;
  }
}

.scroll{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.fixed{
  position: fixed;
  top:0;
  left:0;
  z-index:999;
  width: 100%;
}